.uzrasas {
  text-align: center;
  font-size: 50px;
  font-weight: 500; }
.main {
    margin-top: 20%;
    border-bottom: solid 2px #1d2a4f; }
.title {
    margin-top: 20%;
    color: #fff;
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
    width: 100%;}

.miestai{
    position: absolute;
    top: 35%;
    left: 3vh;
    color: #fff;
}


.istorija {
    color: #1d2a4f;
    border-bottom: solid 2px #1d2a4f; }

.info {
  color: #fff;
  text-align: center; }
.weight {
    font-weight: 600; }

.parralax{
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
.parallax-viz {
    background-image: url("../pictures/vision.png"); }
.parallax-slov {
    background-image: url("../pictures/worship.jpg"); }
.parallax-mes {
    background-image: url("../pictures/crowd2.jpg"); }
.parallax-istorija {
    background-image: url("../pictures/bible-stud.jpg"); }
