h2{
  color: blue;
}
.blokas{
  width: 33%;
  height: 30vh;
  background-color: green;
  border: 1px solid #000;
  display: block;
}
.float-l{
  float: left;
}
.float-r{
  float: right;
}
.clear{
  clear: both;
}
.Trecias{
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px){
.antras{
  display: none;
}
.penktas{
    display:none;
  }
.ketvirtas{
  float:right;
}
}
@media (max-width: 425px){
.ketvirtas, .penktas{
  display: none;
}
/*Galima ir nuimti flota su clear komanda ir centruoti su margin left right*/
.pirmas{
    width: 90%;
    height: 28vh;
    margin-left:5%;
}
.antras{
    display: block;
    width: 90%;
    float: left;
    margin-left:5%;
}
.Trecias{
  display: block;
  float: left;
  width: 90%;
  margin-left:5%;
}
}
