
/*Visam puslapiui*/
*{
    box-sizing: border-box;
}
body, html {
    height: 100%;
    background-color: #e6ffff;
}
.borderB{
    border-bottom: 20px solid #e6ffff;
}
.borderR{
    border-right:  20px solid #e6ffff;
}
.borderT{
    border-top: 20px solid #e6ffff;
}
.borderL{
    border-left: 20px solid #e6ffff;
}
.borderA{
    border: 20px solid #e6ffff;
}
/*Puslapio virsus*/
/*Logotipas*/
header{
background-color:#fff;
min-height: 100px;
}
header .int{
width: 100px;
left: 100px;
float:left;
opacity: .6;
}
/*Navigacija*/
nav a{
text-decoration: none;
color:#000;
 font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-weight: bold;
}
nav ul{
margin: 0;
padding: 0;
}
nav ul li{
float: right;
display: inline;
padding: 15px;
margin-top: 15px;
}
nav ul li a:hover{
border-bottom: 3px solid #000;
text-decoration: none;
color: #000;
}
/*-----------------------------------------------------------*/
section{
margin: 0;
padding: 0;
}
.ha{
height: 500px;
}
.hd{
height: 240px;
}
.geltona{
background-color: #ffffb3;
opacity: 0.7;
}
.nk{
width: 100%;
height: 100%;
border: none;
padding: 0;
margin: 0;
}
.dive{
padding-left: 0;
padding-right: 0;
}
.fixas{
position: relative;
}
h1 {
    position: absolute;
    top:0;
    left: 0;
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25; margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 30px;
 }
p {
    position: absolute;
    top: 280px;
    left: 0;
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px; font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
    margin-left: 30px;
 }
 .bandymas{
position: absolute;
top: 0;
right: 0;
opacity: 0.3;
width: 100%;
height: 99%;
 }
