* {
  /* remelius iskaiciuoja i ploti ,
  be sitos programos remelis uzima ploti*/
  box-sizing: border-box;
}
/* -------------------   */
h1 {
  color: blue;
  text-align: center;
}
article {
  background-color: #a1a1a1;
  border: solid 1px #000;
  position: relative;
  margin-left: 2.5%;

/*turinys vienoj eilutej*/
width: 30%;
float: left;

}

h2 {
  background-color: red;
  padding-left: 30px;
  margin-top: 0;



/*  skraidantys elementas -rukas  */
/*  absolute reikia : top/left/botom nurodyt ir
tevui uzdeti "relative"    */

position: absolute;
  top: 0px;  /* veikia tik su position: absolute; */
  right: 0px; /* veikia tik su position: absolute; */

}

p {
  padding-top: 60px;
}

body {
    margin: 0;
}

/*float issijungimas
 <div class="no-float"></div> */

.no-float {
  clear: both;
}
