h1 {
    color: blue;
}


.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}


.center-xy {
    width: 150px;
    height: 60px;


    /* y-asyje + tevui uzdeti position:relative */
    position: absolute;
    top: 50%;   /*  50% nuo tevo virsaus  */
    left: 50%;  /*  50% nuo tevo kaires  */
    /* top, left, right, bottom - veikia tik su posotion absolute */
    transform: translate(-50%, -50%);
    /* x asyje */
    margin-left: auto;
    margin-right: auto;
}
ads {
    position: relative;
}


/**/
