.spec1:hover {
  background-color: cyan;
}

.spec2:hover {
  background-color: #17783e;
}

.spec3:hover {
  background-color: #d67e52;
}

h3.spec2 {
  background-color: #5c3b23;
}


h3 .spec2 {
  background-color:#d23600;
}
