p{
  color:rgb(110, 94, 85);
  font-size: 30px;
  font-weight: 100;
  font-family: fantasy;
}
h1{
  color: rgb(240, 234, 200);

}
h2{
  color:rgb(35, 34, 80);
}
body{
  background: rgb(195, 195, 195);
}
