*{
  /* remelius iskaiciuojam i ploti */
  box-sizing: border-box;
}

.float-left {
  float: left;
}
.float-right {
    float: right;
  }
.clearfix {
  clear: both;
  content: '';
}
/*----------------*/
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
}
.blokas {
  background-color: red;
  width: 33.333%;
  height: 33vh;  /*  30% tevo*/
  border: solid 1px #000;
  text-align: center;
  padding-top: 55px;
}
.pirmas {

}
.antras {

}
.trecias {
  /*elemento centravimas teve*/
  /* !!! elementas turi turet nustatyta ploti*/
  margin-left: auto;
  margin-right: auto;
}
/*---- for Tablet-----*/
@media (max-width: 768px){
  .antras, .penktas {
     display: none;
  }
  .ketvirtas {
      float: right;
  }
}
/*----for Mobile-----*/
@media (max-width: 425px){
    .blokas {
        float: none;
        margin-right: auto;
        margin-left: auto;
        height: 50vh;
        width: 90%;
        }

    .antras {
        display: block;
    }
    .trecias, .ketvirtas {
        display: none;
        }


    }
