* {
 box-sizing: border-box;
}

h2 {
  color: red;
  margin: 18% 47%;
  width: 30%;
  

}

.blokas {
  width: 33%;
  height: 30vh;
  background-color: #d7e8cf;
  border: solid 1px #000;
  display: block;
}

.blokas-3{
  /*elemento centravimas teve*/
  /*elementas turi turet nustatyta ploti*/
  margin-left: auto;
  margin-right: auto;

}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix {
   clear: both;
}

/*-----for tablet------*/
/*--------nuo 0 iki 768-----------*/

@media (max-width: 768px ) {
    .blokas-2,
    .blokas-5 {
      display: none;
    }

    .blokas-4 {
        float: right;
    }

 }

/*---------For mobile-----------*/

@media (max-width: 425px) {
    .blokas {
        float: none;
        /*centruojame*/
        /*reikalingas plotis!!!!!*/
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin: 2%;

    }

    .blokas-4 {
        display: none;
    }

    .blokas-2 {
        display: block;
    }


}




/*---------------*/
