body{
    background-color: rgb(208, 208, 208);
}
.test-border {
  border: solid 1px black;
}
.galleryRowHeight{
    height: 33.33vh;
}
.imgCentravimas img{
    height: 100%;
    width: 100%;
}
.grafa{
    width: 100%;
    height: 100%;
    max-width: 338px;
    max-height: 338px;
}
.aukstis{
    height: 10vh;
}

footer ul{
    list-style: none;
}
footer ul li img{
    height: 15px;
    width: 15px;
}
