/*-------------------------------SHORTCUTS------------------------------------*/
.all-uppercase {
  text-transform: uppercase;
}

.all-center {
  text-align: center;
}
/*-------------------------------SHORTCUTS END------------------------------------*/

.test-border {
  border: solid 1px black;
}
.imgSizeTemp{
    height: 100px;
    width: 100px;
}
.galleryItemHeight{
    height: 25vh;
}

/*-----------------------------MAIN INDEX.HTML--------------------------------------------*/
.navbar-brand{
  line-height: 1rem;
}
.article {
  padding-top: 35vh;
}
.article h3{
  text-align: center;
}

.article-middle h3{
  text-align: center;
}

.main-fullscreen-register {
  position: relative;

  background-image: url('../images/header-side.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 50vh;
  width: 100%;
}

.main-fullscreen-register button {
  position: absolute;
  align-self:center;
  left: 50%;
  transform: translateX(-50%);
  /*top: 50vh;*/
}
