/* -------------BASIC-------------------- */
* {
  box-sizing: border-box;
}

.pirmas-elementas {
  float: left;
  width: 33.33%;
  height: 33vh;
  border: solid 1px black;

  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

.antras-elementas {
  float: right;
  width: 33.33%;
  height: 33vh;
  border: solid 1px black;
  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

.trecias-elementas {
  width: 33.33%;
  height: 33vh;
  border: solid 1px black;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

.ketvirtas-elementas {
  float: left;
  width: 33.33%;
  height: 33vh;
  border: solid 1px black;

  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

.penktas-elementas {
  float: right;
  width: 33.33%;
  height: 33vh;
  border: solid 1px black;

  text-align: center;
  padding-top: 80px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .antras-elementas {
    display: none;
  }
  .ketvirtas-elementas {
    float: right;
  }
  .penktas-elementas {
    display: none;
  }
}

@media (max-width: 425px) {
  .pirmas-elementas {
    margin-top: 25px;
  }
  .pirmas-elementas, .antras-elementas, .trecias-elementas, .ketvirtas-elementas, .penktas-elementas {
    float: none;
    display: block;
    width: 90%;
    height: 40vh;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
