h1 {
    color: blue;
}


.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
.vh-30 {
  height: 30vh;
}
.vh-70 {
  height: 70vh;
}
nav {
  padding-bottom: 100%;
  margin-bottom: -100%
}
.main {
  overflow: hidden;
}
