.a1,
.a2,
.a3,
.a4,
.a5 {
  width: 33%;
  height: 33vh;
  border: solid 1px #000;
  text-align: center;
}

.a1,
.a2,
.a4,
.a5 {
  display: block;
}

.a2,
.a5 {
  float: right;
}
.no-float {
  clear: both;
}
.a3 {
  margin-left: auto;
  margin-right: auto;
}



@media (max-width: 768px) {
  .a2,
  .a5 {
    display: none;
  }
  .a4 {
    float: right;
  }
}

@media (max-width: 425px) {
    .a2 {
        display: block;
    }
    .a4 {
        display: none;
    }
    .a1,
    .a2,
    .a3 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        height: 50vh;
    }
    .a1,
    .a2 {
        margin-bottom: 5%;
    }
}
