* {
    box-sizing: border-box;
}
.clear-float {
    clear: both;
    content: '';
}
.float-l {
    float: left;
}
/* -----------end basic---------- */

h1 {
    color: brown;
}
html {
    background-color: #a9a9a9;
}
body {
    /* turinio centracimas x asyje*/
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/*-------header-----------*/
header {
    background-color: #FF80FF;
    border: solid 1px red;
    height: 80px;
    display: block;
    margin-bottom: 20px;
}
nav {
    padding-top: 32px;
    /* dedame i bendra eilute su Search */
    float: left;
    width: 60%;
}

#search {
    padding-top: 28px;
    padding-left: 20px;
    /* dedame i bendra eilute su Search */
    float: left;
    width: 40%;
}
ul {
    padding: 0;
    margin: 0;
}
header li {
    display: inline-block;
    width: 24%;
    text-align: center;
    text-transform: uppercase;
}

 input {
     width: 70%;
     height: 25px;
     border: none;
 }
 header button {
     border: none;
     background-color: #000;
    color: white;
    padding: 4px 0;

    width: 20%;
    min-width: 60px;   /* reiketu uzdeti mygtukam */
    /* arba */
    /*padding: 0 25px;*/
 }
 /*---------end header--------------*/
/*----------main - content- wrapper---------*/
section {
    background-color: #fff;
    width: 70%;
    padding: 15px;
}
main {
    overflow: hidden;
}
aside {
    background-color: #FF80FF;
    width: 28%;
    margin-left: 2%;

    /* automatinis aukscio isskaiciavimas
    + reik tevui uzdeti: overflow: hidden; */
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
aside ul {
    padding-left: 40px;
}
h1,
h2 {
    text-align: center;
}
/*--------end main--------------*/
/*-----------footer----------------*/
footer {
    background-color: #fff;
    height: 80px;
    margin-top: 20px;
}


/*---------end footer ------------*/
