.beBigger {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10em;
  transition: width 0.2s linear;

}

.beBigger:hover {
  width: 15em;
}

.stayBigger {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 15em;
}
