body {
background-color: #fff;
}

.imgRect{
  width:100%;
  height:100%;
}


.rect {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10em;
  height: 10em;
  transition: width 0.2s, height 0.2s ease-in-out;
}

.rect:hover {
  width: 12em;
  height: 12em;
}

.rectBack {
  position: absolute;
  margin: auto;
  left: -395px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

.rect1 {
  position: absolute;
  margin: auto;
  left: -200px;
  right: 0;
  top: -300px;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.rect2 {
  position: absolute;
  margin: auto;
  left: 198px;
  right: 0;
  top: -300px;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.rect3 {
  position: absolute;
  margin: auto;
  left: 400px;
  right: 0;
  top: 0px;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.rect4 {
  position: absolute;
  margin: auto;
  left: 200px;
  right: 0;
  top: 300px;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.4s;
}

.rect5 {
  position: absolute;
  margin: auto;
  left: -200px;
  right: 0;
  top: 300px;
  bottom: 0;
  width: 12em;
  height: 12em;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}
