*{
  /* remelius iskaiciuojam i ploti */
  box-sizing: border-box;
}
/* --------------- */
h1{
  color: blue;
  text-align: center;
}
article{
  background-color: rgb(102, 102, 102);
  border: solid 1px rgb(9, 5, 75);
  position: relative;
  /* turinys vienoje eiluteje */
  /* nepamirsti uzdeti clear: both  po paskutinio elemento(tago)*/
  width: 30%;
  float: left;
  margin-left: 2.5%;
}
h2 {
  background-color: red;
  padding-left: 30px;
  margin-top: 0px;
  padding-right: 30px;
  border-left: solid 3px rgb(6, 14, 1);
  border-bottom: solid 3px rgb(11, 14, 15);
  /* skraidantis elementas -rukas vaiksto kiaurai
  absolute reikia nurodyt top/bottom/left ir "relative uzdet tevui" */
  position: absolute;
  top: 0px; /* veikia tik su position: absolute*/
  right: 0px
}
p {
  padding-top: 60px;
  padding-left: 2px;

}
body {
  margin: 0;
}

.preke-1 {
  background-color: rgb(233, 142, 144);
}
.preke-2 {
  background-color: rgb(185, 37, 37);
}
.preke-3 {
  background-color: rgb(182, 196, 100);
}
.no-float {
    clear: both;  /*float isjungimas
                  <div class="no float"></div>*/
}
