body {
  font-size: 16px;
}
h1 {
  color: red;
}
h2 {
  color: #76c877;
  font-size: 1em;
}
.spec2 {
  background-color: #99e64c;
}
#logo {
  width: 255px;
  height: 350px;
}
h1, h2 {
  font-weight: 250;
}
h3.spec2{
  background-color: #5e4e7a;
}
h1:hover {
  font-size: 80px;
  color: brown;
}
