* {
  /* Remelius iskaiciuojam i ploti */
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* ---------------------- */

h1 {
  color: blue;
  text-align: center;
}

h2 {
  /* Absolute reikalingi top: ir left: ir taip pat ant tevu uzdeti position: reletive */
  position: absolute;
  top: 0px;/*  Veikia tik su position: ABSOLUTE */
  right: 0px;/*  Veikia tik su position: ABSOLUTE */
}

article {
  position: relative;
  background-color: #a1a1a1;
  border: solid 1px black;
  width: 30%;
  float: left;

  margin-left: 2.5%;
}

p {
  padding-top: 60px;
}
