*{
  box-sizing: border-box;
}
body{
margin: 0px;
padding:0px;
background-color: grey;
width: 1024px;
margin-left: auto;
margin-right: auto;
}
header{
float: left;
min-height: 80px;
width: 100%;
}
h1{
  text-align: center;
  font: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
ul{
  background-color: pink;
  list-style: none;
  width: 80%;
  padding: 0px;
  padding-top: 25px;
  height: 80px;
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
 ul li{
display: inline-block;
background-color: pink;
width: 16%;
font-size: 18px;
text-align: center;
text-transform: uppercase;
 }
 ul li a {
 text-decoration: none;
 display: block;
 color: white;
 margin: 2px;
 }
 ul li a:hover {
 background-color: green;
 }
 input.bar{
width: 99%;
margin: 0px;
padding:0px;
 }
 input.but{
width: 40%;
margin: 0px;
padding:0px;
margin-right: 70px;
border: none;
background-color: grey;
color: white;
}
.clear{
clear: both;
content: '';
}
h2{
  text-align: center;
  font: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
}
.remas{
width: 80%;
margin-left:auto ;
margin-right: auto;
overflow: hidden;
}
section{
  background-color: white;
  width: 70%;
}
aside{
  background-color: pink;
  width: 27%;
  margin-left: 3%;
  margin-right: 0;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}
ol{
  list-style: none;
  padding-left: 5%;
  margin: 0;
}
ol li a{
  text-decoration: none;
}
.float-l{
  float:left;
}
footer{
  background-color: white;
  width: 80%;
  margin-left:auto ;
  margin-right: auto;
  margin-top: 2%;
  height: 80px;
}
article{
  padding: 15px;
}
