* {
  box-sizing: border-box;
}
html {
  background-color: #a9a9a9;
}
body {
  /* turinio centravimas x asyje */
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}

/*----header----*/

header {
  background-color: #ff08ff;
  height: 80px;
  display: block;
}
header ul {
  margin: 0;
  padding: 0;
  padding-top: 32px;
}
header li {
  display: inline-block;
  width: 24%;
  text-align: center;
  text-transform: uppercase;
}
nav {
  min-height: 80px;
  float: left;
  width: 60%;
}
#search {
  float: right;
  width: 40%;
  padding-top: 20px;
  padding-left: 20px;
}
#search input {
  width: 60%;
  height: 40px;
  border: none;
}
#search button {
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  width: 80px;
  min-width: 60px;
}

/*----main----*/

main {
  margin: 10px 0;
  width: 100%;
  display: block;
  overflow: hidden;
}
main section {
  background-color: white;
  width: 74%;
  float: left;
}
main aside {
  background-color: #ff08ff;
  width: 24%;
  float: right;
  height: 100%;
  padding-bottom: 5000px;
	margin-bottom: -5000px;
}
main aside li {
  margin-bottom: 1em;
}
main h2 {
  text-align: center;
}

/*----footer----*/

footer {
  background-color: white;
  height: 80px;
}


.no-float {
  clear: both;
}
