
*{
    box-sizing:border-box;
}
h1{
    color: red;
}
.a{
height: 110px;

}
.a-1{
height: 250px;
}
.a-2{
height: 390px;
}
.borderB{
    border-bottom: 10px solid #fff;
}
.borderR{
    border-right:  10px solid #fff;
}
.borderT{
    border-top: 10px solid #fff;
}
.borderL{
    border-left: 10px solid #fff;
}
.bordrA{
    border: 10px solid #fff;
}
