
*{
    box-sizing:border-box;
}
body, html {
    height: 100%;
}
body{
        /* Fullscreen image reikia butinai nurodyt heigth 100%*/
        background-image: url("../photo2.jpg");
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
h1{
    color: blue;
}
.a{
height: 110px;

}
.a-1{
height: 250px;
}
.a-2{
height: 390px;
}
.borderB{
    border-bottom: 10px solid #fff;
}
.borderR{
    border-right:  10px solid #fff;
}
.borderT{
    border-top: 10px solid #fff;
}
.borderL{
    border-left: 10px solid #fff;
}
.bordrA{
    border: 10px solid #fff;
}

/*Puslapio turinys*/
section{
    height: 100%;
}
img{
    position: absolute;
    top: 0;
    left: 50%;
    opacity: .6;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 0%);
}
.Menu{
position: absolute;
top: 0;
right: 0;
margin-right: 15px;
margin-top: 15px;
}
 .pp{
position: absolute;
color:#000;
top:45%;
left:50%;
padding:15px;
-ms-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
 }
 .pp p{
margin-bottom: 20px;

 }
 .bb{
position: absolute;
top:50%;
left:0%;
 }
 .bbb{
position: absolute;
top:50%;
right:0%;
 }
 .a{
     position: absolute;
     color:#000;
     top:50%;
     left:50%;
     padding:30px;
     -ms-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
     border: 3px solid #000;
 }
 .aButton{
     position: absolute;
     top:55%;
     left:50%;
     padding:15px;
     margin-top: 50px;
     -ms-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
 }
 .aButton button {
     margin: 20px;
     color: #000;
 }
 h2{
    position: absolute;
    bottom: 0%;
    left: 50%;
    padding:10px;
    transform: translate(-50%,-50%);
    color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center;
 }
 h1{
     color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
 }
