html{
    background-color: rgb(198, 198, 198);
}
body{
    background-color: rgb(157, 87, 213);
    box-sizing: border-box;
}
/* --------------------------- BENDROS -------------------------- */

.no-float{
    clear: both;
    content: "";
}

/* --------------------------- PLAYER -------------------------- */

.playerWraperis{
    width: 220px;
    height: 1365px;
    max-width: 220px;
    border: 1px solid red;
    position: relative;
}
.player{
    height: 500px;
    width: 200px;
    min-height: 500px;
    min-width: 200px;
    border: 1px solid blue;
    position: fixed;
    /*top: 50%;
    right: 15px;
    transform: translateY(-50%);*/
}
/* --------------------------- ALBUMS -------------------------- */

.albumu-Wraperis{
    min-width: 455px;
    max-width: 455px;
    min-height: 1365px;
    width: 455px;
    border: 1px solid blue;

}
.albumoWraperis{
    min-width: 455px;
    max-width: 455px;
    min-height: 455px;
    width: 455px;
}

/* --------------------------- STATS -------------------------- */

.statsWraperis{

    min-width: 227px;
    max-width: 227px;
    min-height: 1200px;
    width: 227px;
    border: 1px solid red;
}
.statsKubas{
    width: 227px;
    height: 227px;
    border: 1px solid yellow;
}

/* --------------------------- REKLAMA -------------------------- */
/* ------- isstumia kitu divu centravima kol kas nenaudoti ------ */

.reklamosWraperis{
    min-width: 227px;
    max-width: 227px;
    max-height: 1200px;
    width: 227px;
    height: 1200px;
    border: 1px solid red;
}
.reklamos-bg{
    background-image: url(./img/1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------- ALBUM 1 -------------------------- */

.album-no1-bg{
    background-image: url(./img/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.album-no1-info{
    height: 227px;
    max-width: 227px;
    max-height: 227px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.album-no1-play{
    height: 227px;
    max-width: 227px;
    max-height: 227px;
    text-align: center;
    position: relative;
}
.album-no1-play button{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
