h1 {
    color: blue;
}


.aukstis-50 {
        height: 50px;
}
.aukstis-100 {
        height: 100px;
}

.aukstis-200 {
        height: 200px;
}
.aukstis-300 {
        height: 300px;
}
.aukstis-500 {
        height: 500px;
}
.aukstis-400 {
        height: 400px;
}
.vh-30 {
    height: 30vh;
}
.vh-70 {
    height: 70vh;
}
