section article {
  color: red;
  font-size: 29px;
  font-weight: 600; }

section p {
  font-weight: 300;
  font-size: 16px; }

aside {
  color: red;
  width: 36px;
  height: 300px; }

p {
  font-size: 14px;
  font-weight: 600; }
