* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
h1 {
  color: blue;
  text-align: center;
}
article {
  background-color: #a1a1a1;
  border: solid 1px #000;
  width: 30%;
  float: left;
  margin-left: 2.5%;
  position: relative; /* būtina, jei vaikas naudoja position:absolute */
}
h2 {
  position: absolute;
  top: 0px; /* veikia tik su position:absolute */
  left: 0px; /* veikia tik su position:absolute */
  margin: 0px;
  padding: 3px 30px;
  background-color: red;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
}
p {
  padding-top: 30px;
}
.no-float {
  clear: both;
}
.pirma-preke {
  background-color: #6bc650;
}
.antra-preke {
  background-color: #c17244;
}
.trecia-preke {
  background-color: #2d3fdb;
}

/* for tablet-small laptop 768-991px */
@media (min-width: 768px) and (max-width: 991px) {

}

/* for tablets 0-768px */
@media (max-width: 768px) {
  body {
    padding-right: 2.5%
  }
  article {
    width: 46.25%;
    margin-bottom: 2.5%;
  }
  .last-product {
    width: 95%;
  }
}

/* for mobiles */
@media (max-width: 420px) {
  .last-product,
  article {
    width: 95%;
    margin-bottom: 2.5%;
  }
}
