h1 {
  color: red;
}
h2 {
  color: #20b041;
  font-size: 3em;
}

body {
  font-size: 16px;
}

h3 {
  color: blue;
}

html body h3 .spec2 {
  background-color: blue
}


.spec2 {
  background-color: #2dcb1f;
}

.spec2 {
  background-color: black;
}

#logo {
  width: 100px;
  height: 200px;
}

h1,h2 {
  font-weight: 100;
}

h3.spec2 {
  background-color: red;
}

h1:hover {
  font-size: 80px;
  color: yellow;
}

.page-home h1 {
  font-size: 120px;
}
