* {
  /* remelius iskaiciuoja i ploti*/
  box-sizing: border-box;
}
.task3 {
  background-color: rgb(195, 195, 195);
}

h1{
  color: blue;
  text-align: center;

}


article {
  background-color: #a1a1a1;
  border: solid 1px #000;
  position: relative;

  width: 30%;
  float: left;
  margin-left: 2.5%;

}

h2{
  /*skraidantis elementas -rukas*/
  position: absolute;
  top: 0px; /* veikia tik su position.absolute!!!!!!*/
  right: 0px;
  margin-top: 0px;
  border-bottom: solid black 2px;
  border-left: solid black 2px;


}

p{
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

body{
  margin: 0;
}
h2.spec1{
  background-color: rgb(195, 195, 195);

}

h2.spec2{
  background-color: rgb(212, 40, 40);

}

h2.spec3{
  background-color: rgb(240, 194, 76);
}
