body {
background-color: #fff;
}

.main-hex {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fdff78;
  margin: auto;
  top: 50%;
}
div img {
  transform: rotate(90deg);


}
