h1 {
    color: red;
}
h2 {
    color: #16e0ae;
    font-size: 2em;
}
body {
    font-size: 16px;
}
h3 {
    color: blue;
}
html body h3.spec2 {
    background-color: red;
}
.spec2 {
    background-color: #f1e91f;
}
.spec2 {
    background-color: black;
}
#logo {
    width: 100px;
    height: 200px;
}
h1,
h2,
h3 {
    font-weight: 100;
}


h3 .spec2 {
    background-color: blue;
}

h1:hover {
    font-size: 80px;
    color: brown;
    display: block;
}

.page-home h1 {
    font-size: 120px;
}

/**/
